<!DOCTYPE html>
<html class="h-100" lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>گلستان لایت</title>
    <link rel="stylesheet" href="wwwroot/dist/css/bootstarp.min.css">
    <link rel="stylesheet" href="wwwroot/dist/css/custom-style.css">
</head>

<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">گلستان لایت</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">صفحه اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/admin/dashboard.html">پنل ادمین</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/teachers/dashboard.html">پنل مدرس</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/stduents/dashboard.html">پنل داشنجو</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">حذف حساب کاربری</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="اینجا بنویسید..."
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">جستجو</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            
            



        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">کپی رایت - مکتب 104</span>
        </div>
    </footer>
    
</body>
</html>